@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    display: none;
}

.cursor {
    background-color: #ca53ff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}